.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-container{
  width:100%;
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

.animate-fadeInDelayed {
  animation: fadeIn 3s ease-in forwards;
}

.gradient {
  --bg-size: 400%;
  --color-one: rgb(255, 255, 255);
  --color-two: rgb(83, 83, 83);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 40s linear;
}


.smol-gradient {
  --bg-size: 600%;
  --color-one: rgb(251, 251, 251);
  --color-two: rgb(204, 204, 204);
  background: linear-gradient(
                45deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 40s  linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}